body[data-mode='light'] {
  --theme-color: #1a1a1a;
  --theme-color-light-1: #6f7584;
  --theme-color-light-2: #3a3f4d;
  --theme-color-light-3: #4a5060;
  --theme-color-transparent-1: rgba(26,26,26,0.6);
  --theme-color-dark-1: #171717;
  --background-color: #fff;
  --background-color-transparent-1: rgba(255,255,255,0.85);
  --background-color-transparent-2: rgba(255,255,255,0.7);
  --background-color-transparent-3: rgba(255,255,255,0.4);
  --background-color-grey: #e7e9ee;
  --background-color-grey-light-1: #f1f2f5;
  --background-color-grey-light-2: #f4f5f7;
  --background-color-grey-transparent: rgba(231,233,238,0.25);
  --background-color-grey-transparent-2: rgba(231,233,238,0.15);
  --background-color-body: #f6f7f9;
  --background-color-page: rgba(255,255,255,0.85);
  --font-color: #2e3136;
  --font-color-invert: #fff;
  --font-color-navbar: #41454c;
  --font-color-navbar-custom: #4b4b4b;
  --font-color-light-1: #676d78;
  --font-color-light-2: #9096a1;
  --font-color-light-3: #c8cbd0;
  --link-hover-font-color: #fff;
  --banner-background: url("/assets/images/wallhaven-5yl597.webp");
  --banner-font-color: #fff;
  --nav-background-color: rgba(255,255,255,0.188);
  --card-border-color: #d9dce2;
  --meow-box-shadow: 1px 1px 1px 1px rgba(42,42,42,0.051);
  --meow-card-shadow: 0px 3px 8px 6px rgba(42,42,42,0.051);
}
body[data-mode='dark'] {
  --theme-color: #88c0ed;
  --theme-color-light-1: #b8d9f4;
  --theme-color-light-2: #a0cdf1;
  --theme-color-light-3: #acd3f2;
  --theme-color-transparent-1: rgba(136,192,237,0.6);
  --theme-color-dark-1: #68afe8;
  --background-color: #232733;
  --background-color-transparent-1: rgba(35,39,51,0.88);
  --background-color-transparent-2: rgba(35,39,51,0.7);
  --background-color-transparent-3: rgba(35,39,51,0.4);
  --background-color-grey: #353c4b;
  --background-color-grey-light-1: #303644;
  --background-color-grey-light-2: #2a303c;
  --background-color-grey-transparent: rgba(53,60,75,0.25);
  --background-color-grey-transparent-2: rgba(53,60,75,0.35);
  --background-color-body: #191c26;
  --background-color-page: rgba(35,39,51,0.7);
  --font-color: #c6cbd7;
  --font-color-invert: #f2f4fa;
  --font-color-navbar: #c6cbd7;
  --font-color-navbar-custom: #bebec6;
  --font-color-light-1: #959fb5;
  --font-color-light-2: #7d89a4;
  --font-color-light-3: #556079;
  --link-hover-font-color: #1b1f2a;
  --banner-background: url("/assets/images/wallhaven-e7zogk.webp");
  --banner-font-color: #e0e0e0;
  --nav-background-color: transparent;
  --card-border-color: #2d3340;
  --meow-box-shadow: 1px 1px 1px 1px rgba(187,187,187,0.012);
  --meow-card-shadow: none;
}
